NEO4J_URI=neo4j://127.0.0.1:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=your_password_here
NEO4J_MOCK=false
BOT_API_URL=http://127.0.0.1:8087
BOT_TEMPERATURE=1.1
CAMERA_INDEX=0
STOCKFISH_PATH=stockfish
NEO4J_MOCK=false